{% extends "base.html" %}


{% block content %}

{% if blogs %}

<div class="flex flex-col lg:flex-row gap-8 font-sans">
    <div class="w-full lg:w-[70%]">
      <h2 class="text-2xl font-medium  text-zinc-800 mb-6 pb-2">Search Term: <span class="text-yellow-500 capitalize">{{keyword}}</span></h2>

      <div class="flex flex-col">
        {% for post in blogs %}
          <article class="flex flex-col md:flex-row box-content gap-5 group items-start hover:cursor-pointer">
            <div class="w-full md:w-[200px] h-[150px] flex-shrink-0 overflow-hidden shadow-sm border border-gray-100" style="background-image: url('{{ post.featured_image.url }}'); background-size: cover; background-position: top;">
              <div class="w-full h-full bg-black opacity-0 group-hover:opacity-10 transition-opacity duration-300"></div>
            </div>

            <div class="flex flex-col justify-start">
              <h3 class="text-[1.16rem] font-semibold text-zinc-700 group-hover:text-orange-600 transition-colors duration-200 leading-tight" style="font-family:Cambria"><a href="{% url 'blogs' post.slug %}">{{ post.title }}</a></h3>

              <div class="flex items-center gap-2 text-[13px] text-gray-500 mt-1 mb-1.5">
                <span>{{ post.author }}</span>
                <span class="text-gray-300">•</span>
                <span>{{ post.created_at|timesince }} ago</span>
              </div>

              <p class="text-gray-600 text-[14px] leading-snug line-clamp-3" style="font-family:Inter">{{ post.short_description }}</p>

              <div class="">
                <span class="text-orange-600 font-semibold text-[12px] uppercase tracking-wider group-hover:underline cursor-pointer"><a href="{% url 'blogs' post.slug %}">Read Article →</a></span>
              </div>
            </div>
          </article>

          {% if not forloop.last %}
            <hr class="border-gray-100 my-1" />
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <aside class="w-full lg:w-[30%] text-gray-700 text-sm gap-5 flex flex-col ">
      <div class="p-4 bg-gray-50 border border-gray-400 rounded-sm">
        <h3 class="font-semibold text-gray-900 mb-3 border-b pb-2">{{ about.about_heading }}</h3>
        <p>{{ about.about_description }}</p>
      </div>

      <div class="p-4 bg-gray-50 border border-gray-400 rounded-sm">
        <h3 class="font-semibold text-gray-900 mb-3 border-b pb-2">Social Media Links</h3>
        {% for social_media in social_links %}
          <p>
            <a href="{{ social_media.social_media_link }}" class="text-blue-600 underline" target="_blank">{{ social_media.social_media_name }}</a>
          </p>
        {% endfor %}
      </div>
    </aside>
  </div>
{% else%}
<p class='text-center text-2xl' style="font-family:Cambria">! Article Not Found Realted to <span class="font-bold capitalize text-yellow-500">{{keyword}}</span></p>
{% endif %}
{% endblock content %}