{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Django Blogs</title>

  <!-- Tailwind -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet" />
</head>

<body class="bg-gray-100">

  <!-- HEADER -->
  <header class="bg-zinc-800 text-white py-4  ">
    <div class="max-w-7xl mx-auto flex justify-between items-center px-6">

      <div class="text-lg font-semibold">
        <a class="text-gray-200" href="#">KARAN_SHARMA</a>
      </div>

      <div class="flex items-center space-x-3">
        <a class="bg-yellow-500 hover:bg-yellow-600 text-black text-sm px-4 py-1 rounded">
          Login
        </a>
        <a class="border border-gray-300 text-white hover:bg-gray-700 text-sm px-4 py-1 rounded">
          Register
        </a>
      </div>

    </div>
  </header>


      <!-- CATEGORY NAV -->
    <div class="py-3 border-b border-b-gray-500">
      <nav class="max-w-7xl mx-auto flex justify-between items-center text-[15px] text-zinc-800 px-6 ">

        <a class="hover:text-black"
             href="{% url 'home' %}">
             All Articles
        </a>
        {% for category in categories %}
          <a class="hover:text-black"
             href="{% url 'post_by_category' category.id %}">
             {{ category }}
          </a>
        {% endfor %}

      </nav>
    </div>
  <!-- MAIN CONTAINER -->
  <div class="max-w-7xl mx-auto px-6  py-6">



    {% block content %}{% endblock content %}

  </div>

  <!-- FOOTER -->
  <footer class="text-center text-gray-600 py-6 mt-10 border-t">
    Django blog built with by
    <a href="#" class="font-semibold hover:underline">
      Karan Sharma
    </a>
  </footer>

</body>
</html>
