{% extends "../base.html" %}

{% block content %}

<div class=' flex'>
    <div class= "   flex flex-col">
        <a href="{% url "dashboard" %}" class='{% if '/dashboard/' == request.path %} bg-yellow-500{% endif %} py-2 px-10 rounded-[5px] font-medium'>Dashboard</a>
        <a href="{% url "dashboard_categories" %}" class=' bg-yellow-500 py-2 px-10 rounded-[5px] font-medium'>Categories</a>
        <a href="{% url "dashboard_article" %}" class='{% if '/dashboard/article/' == request.path %} bg-yellow-500{% endif %}  py-2 px-10 rounded-[5px] font-medium'>Articles</a>
        <a href="#" class=' py-2 px-10 rounded-[5px] font-medium'>Logout</a>
    </div>
    <div class="flext-1 w-full right w-[300px] px-10 py-2 ">
    <div class= ' justify-between items-baseline pb-5'><h2 class='text-3xl font-medium ' style = 'font-family:Cambria'>Add New Article</h2></div>
    <form action="{% url "add_category" %}" method="POST" class="space-y-6" >
        {% csrf_token %}

        <!-- Category Name -->
        <div>
            <label for="id_category_name" class="block  font-medium text-zinc-800">
                Category Name
            </label>
            <input 
                type="text" 
                name="category_name" 
                id="id_category_name"
                value="{{ form.category_name.value|default:'' }}"
                class="mt-2 w-[700px] border border-zinc-300 rounded-[5px]  p-2 focus:ring-2 focus:ring-yellow-400 focus:outline-none"
                required
            >
        </div>

        <!-- Category Description -->
        <div>
            <label for="id_category_description" class="block  font-medium text-zinc-800">
                Category Description
            </label>
            <textarea 
                name="category_description"
                id="id_category_description"
                rows="4"
                class="mt-2 w-[700px] h-40 border border-zinc-300 p-2 rounded-[5px] focus:ring-2 focus:ring-yellow-400 focus:outline-none"
            >{{ form.category_description.value|default:'' }}</textarea>
        </div>

        <!-- Submit Button -->
        <div>
            <button 
                type="submit"
                class="px-10 bg-zinc-800 text-white py-2 rounded-[5px] hover:bg-gray-800 transition"
            >
                Add Category
            </button>
        </div>

    </form>
</div>
</div>
{% endblock content %}
